<H1 align="center">Accounter panel: </H1>
<div class="container form-style">
  <div class="jumbotron margin-top">
    <div class="row">
      <div class="col-xs-3">
        <h4>Set document type: </h4>
        <div>
          <div class="btn-group" role="group" aria-label="Basic example">
            <p>
              <input name="documentExtension" type="radio" id="docExtPdf" [(ngModel)]="format" [value]="'PDF'" />
              <label class="btn btn-large btn-success" style="width: 213px" for="docExtPdf">PDF</label>
            </p>
            <p>
              <input name="documentExtension" type="radio" id="docExtExcel" [(ngModel)]="format" [value]="'XLSX'" />
              <label class="btn btn-large btn-success" style="width: 213px" for="docExtExcel">Excel</label>
            </p>
            <p>
              <input name="documentExtension" type="radio" id="docExtCsv" [(ngModel)]="format" [value]="'CSV'" />
              <label class="btn btn-large btn-success" style="width: 213px" for="docExtCsv">CSV</label>
            </p>
          </div>
        </div>
        <h4>Choose document to print: </h4>
        <p>
          <button (click)="printListOfUsers()" class="btn btn-success btn-large btn-block">List of Users</button>
          <button (click)="printListOfItems()" class="btn btn-success btn-large btn-block">List of Items</button>
          <button (click)="printTaxes()" class="btn btn-success btn-large btn-block">Calculate taxes report</button>
          <button (click)="printDriversSchedule()" class="btn btn-success btn-large btn-block">Driver's schedule</button>
          <button (click)="printListOfProviders()" class="btn btn-success btn-large btn-block">List of Providers</button>
        </p>
      </div>
      <div class="col-xs-9" style="font-family: 'Yu Gothic UI Semibold'; font-size: 15px; color: #000011; link: #2e2e2e;">
        <app-tabs-tables></app-tabs-tables>
      </div>
    </div>
  </div>
</div>
