<H1 align="center">Accounter panel: </H1>
<div class="container form-style">
  <div class="jumbotron margin-top">
    <div class="row">
      <div class="col-xs-3">
        <button class="btn btn-primary btn-large btn-block">List of Users(PDF)</button>
        <button class="btn btn-primary btn-large btn-block">List of Items(CSV)</button>
        <button class="btn btn-primary btn-large btn-block">Calculate taxes report(CSV)</button>
      </div>
      <div class="col-xs-9">
        <app-tabs-tables></app-tabs-tables>
      </div>
    </div>
  </div>
</div>
