<H1 align="center">Driver panel: </H1>
<div class="container form-style">
  <div class="jumbotron margin-top">
    <div class="row">
      <div class="col-xs-3">
        <h4>Set document type: </h4>
        <div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-success btn-large active">
              <input type="radio" name="options" id="pdf" autocomplete="off" checked=""> PDF
            </label>
            <label class="btn btn-success btn-large">
              <input type="radio" name="options" id="csv" autocomplete="off"> CSV
            </label>
            <label class="btn btn-success btn-large">
              <input type="radio" name="options" id="xlsx" autocomplete="off"> XLSX
            </label>
          </div>
        </div>
        <h4>Choose document to print: </h4>
        <p>
          <button class="btn btn-success btn-large btn-block">List of Orders</button>
          <button class="btn btn-success btn-large btn-block">Schedule</button>
        </p>
      </div>
      <div class="col-xs-9">
        <app-driver-tabs-tables></app-driver-tabs-tables>
      </div>
    </div>
  </div>
</div>
