<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#items">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#orders">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#storage">Storage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#companies">Companies</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="items">
    <app-test-bd-table></app-test-bd-table>
  </div>
  <div class="tab-pane fade" id="orders">
    <h1>Orders.</h1>
  </div>
  <div class="tab-pane fade" id="users">
    <h1>Users.</h1>
  </div>
  <div class="tab-pane fade" id="storage">
    <h1>Storage.</h1>
  </div>
  <div class="tab-pane fade" id="companies">
   <h1>Companies.</h1>
  </div>
</div>
