<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Spp Project</a>
    </div>
    <div class="collapse navbar-collapse" id="collapseNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login" routerLinkActive="active"><span
          class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="authService.isAuthenticated()"><a routerLink="login" (click)="deleteCookies()" routerLinkActive="active"><span
          class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <li><a routerLink="/registration" routerLinkActive="active"><span
          class="glyphicon glyphicon-user"></span> Sign up</a></li>
        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
            class="glyphicon glyphicon-home"></span> Home<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a routerLink="user-info" routerLinkActive="active"> My Profile</a></li>
            <li *ngIf="authService.isAccounter()"><a routerLink="accounter-panel" routerLinkActive="active"> Accounter Tables</a></li>
            <li *ngIf="authService.isDriver()"><a routerLink="driver-panel" routerLinkActive="active"> Driver Tables</a></li>
            <li *ngIf="authService.isCompany()"><a routerLink="company-panel" routerLinkActive="active"> Company Tables</a></li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
